#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-size: 1rem;
}

.top-sale-item{
  padding: 24px;
  background-color: brown;
  color: white;
  border-radius: 8px;
  margin: 16px;
}

.top-sale-item p {
  margin: 0;

}