/** @format */

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.list {
	text-align: left;
	padding: 0;
}

.list li {
	list-style: none;
	color: white;
	background-color: #191919;
	border-radius: 8px;
	padding: 16px;
	margin: 16px 0px;
}

.list li .price {
	color: greenyellow;
}

.list li p:first-child {
	font-size: 1.25rem;
	font-weight: bold;
}

.list li p {
	margin: 0;
}
